<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Formulario de Alta</title>
</head>
<body>

<div class="container mt-5">
    <h2>Iniciar Sesión</h2>
    <form action="/home/procesarAlta" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario" required>
        </div>
        <div class="form-group">
            <label for="correo" class="form-label">Correo electrónico:</label>
            <input id="correo" type="email" name="correo" class="form-control" required
                   placeholder="Ingrese su mail">
        </div>
        <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Ingrese su contraseña" required>
        </div>
        <div class="form-group">
            <label for="nombreCompleto">Nombre Completo:</label>
            <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" placeholder="Ingrese su nombre completo" required>
        </div>
        <div class="form-group">
            <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento:</label>
            <input id="fecha_nacimiento" type="date" name="fecha_nacimiento" class="form-control" required min="1900-01-01"
                   max="2013-12-31">
        </div>
        <div class="form-group">
            <label for="pais" class="form-label">Nacionalidad:</label>
            <select id="pais" class="form-select" name="pais" required>
                <option value="">Seleccionar país</option>
                <option value="1">Argentina</option>
                <option value="2">Bolivia</option>
                <option value="3">Brasil</option>
                <option value="4">Colombia</option>
                <option value="5">Mexico</option>
                <option value="6">Paraguay</option>
                <option value="7">Peru</option>
                <option value="8">Uruguay</option>
                <option value="9">Venezuela</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sexo">Sexo:</label>
            <select class="form-control" id="sexo" name="sexo" required>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div>
            <label for="foto_perfil">Imagen de perfil:</label>
            <input required name="foto_perfil" id="foto_perfil" type="file" class="form-control" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>

</body>
</html>
