<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h2 class="text-center display-5 fw-bold">¡Aprovada! APROVADA</h2>
        <p class="text-center display-5">Tu pregunta ha sido agregada correctamente</p>
        <section class="text-center">
            <a href="/lobby" class="btn btn-primary btn-lg">Volver</a>
        </section>
    </div>
</main>